@font-face {
    font-family: unmasked_bb_italic;
    src: local(unmasked_bb_italic), url('../fonts/UnmaskedBB_ital.ttf') format('opentype');
}

@font-face {
    font-family: unmasked_bb;
    src: local(unmasked_bb), url('../fonts/UnmaskedBB.ttf') format('opentype');
}

@font-face {
    font-family: bsttrial;
    src: local(bsttrial), url('../fonts/BSTTRIAL.ttf') format('opentype');
}

body {
    background-color: black;
    margin: 0 0 0 0;
    color: #f4d15c;
    font-family: unmasked_bb_italic;
    font-size: 15pt;
    text-align: center;
    text-shadow: 0 0 1px rgba(244, 209, 92, 0.5);
}

.page {
    width: 1280px;
    background-color: black;
    position: relative;
    margin: 0 auto 0 auto;
}

img {
    z-index: -1;
}
