@font-face {
    font-family: RutmerHand;
    src: local(RutmerHand), url('../fonts/RutmerHand.ttf');
}

a {
    color: rgb(240, 241, 246);
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

.page-contact {
    width: 697px;
    height: 393px;
    margin: 40px auto 40px auto;
    font-family: RutmerHand;
    font-size: 16.5pt;
    letter-spacing: 0.5px;
    line-height: 26pt;
    background-image: url("../image/contact-01.jpg");
    color: rgb(240, 241, 246);
}

.contact-inner {
    padding: 155px 40px 40px 288px;
    text-align: left;
}
