.page-enter {
    width: 1280px;
    height: 2962px;
}

.walking {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 1200px;
    height: 1853px;
    background-image: url("../image/walking-01.jpg");
}

.push {
    position: absolute;
    top: 1895px;
    left: 40px;
    width: 1200px;
    height: 602px;
    background-image: url("../image/push-01.jpg");
}

.enter {
    position: absolute;
    top: 2500px;
    left: 40px;
    width: 1200px;
    height: 422px;
    background-image: url("../image/enter-02.jpg");
}
