.B-i-need {
    position: relative;
    top: 489px;
    left: 721px;
    width: 200px;
    height: 374px;
    background-image: url("../image/bubble-i-need.png");
    opacity: 0;
}

.B-i-need-hovered {
    position: relative;
    top: 489px;
    left: 721px;
    width: 200px;
    height: 374px;
    background-image: url("../image/bubble-i-need.png");
    opacity: 0.9;
    -webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    -o-transition: 2s ease;
    -ms-transition: 2s ease;
    transition: 2s ease;
}

.B-i-need-text {
    position: relative;
    top: 6px;
    left: 75px;
    width: 113px;
    color: black;
    font-family: unmasked_bb;
    font-size: 14pt;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.B-clear-my {
    position: relative;
    top: 489px;
    left: 721px;
    width: 200px;
    height: 374px;
    background-image: url("../image/bubble-clear-my.png");
    opacity: 0;
}

.B-clear-my-hovered {
    position: relative;
    top: 489px;
    left: 721px;
    width: 200px;
    height: 374px;
    background-image: url("../image/bubble-clear-my.png");
    opacity: 0.9;
    -webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    -o-transition: 2s ease;
    -ms-transition: 2s ease;
    transition: 2s ease;
}

.B-clear-my-text {
    position: relative;
    top: 6px;
    left: 75px;
    width: 113px;
    color: black;
    font-family: unmasked_bb;
    font-size: 14pt;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.B-nope {
    position: relative;
    top: 489px;
    left: 721px;
    width: 200px;
    height: 374px;
    background-image: url("../image/bubble-nope.png");
    opacity: 0;
}

.B-nope-hovered {
    position: relative;
    top: 489px;
    left: 721px;
    width: 200px;
    height: 374px;
    background-image: url("../image/bubble-nope.png");
    opacity: 0.9;
    -webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    -o-transition: 2s ease;
    -ms-transition: 2s ease;
    transition: 2s ease;
}

.B-nope-text {
    position: relative;
    top: 6px;
    left: 75px;
    width: 113px;
    color: black;
    font-family: unmasked_bb;
    font-size: 14pt;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.B-keep-up {
    position: relative;
    top: 489px;
    left: 721px;
    width: 200px;
    height: 374px;
    background-image: url("../image/bubble-keep-up.png");
    opacity: 0;
}

.B-keep-up-hovered {
    position: relative;
    top: 489px;
    left: 721px;
    width: 200px;
    height: 374px;
    background-image: url("../image/bubble-keep-up.png");
    opacity: 0.9;
    -webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    -o-transition: 2s ease;
    -ms-transition: 2s ease;
    transition: 2s ease;
}

.B-keep-up-text {
    position: relative;
    top: 6px;
    left: 75px;
    width: 113px;
    color: black;
    font-family: unmasked_bb;
    font-size: 14pt;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.B-damn-files {
    position: relative;
    top: 489px;
    left: 721px;
    width: 200px;
    height: 374px;
    background-image: url("../image/bubble-damn-files.png");
    opacity: 0;
}

.B-damn-files-hovered {
    position: relative;
    top: 489px;
    left: 721px;
    width: 200px;
    height: 374px;
    background-image: url("../image/bubble-damn-files.png");
    opacity: 0.9;
    -webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    -o-transition: 2s ease;
    -ms-transition: 2s ease;
    transition: 2s ease;
}

.B-damn-files-text {
    position: relative;
    top: 6px;
    left: 75px;
    width: 113px;
    color: black;
    font-family: unmasked_bb;
    font-size: 14pt;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.B-they-hold {
    position: relative;
    top: 489px;
    left: 721px;
    width: 200px;
    height: 374px;
    background-image: url("../image/bubble-they-hold.png");
    opacity: 0;
}

.B-they-hold-hovered {
    position: relative;
    top: 489px;
    left: 721px;
    width: 200px;
    height: 374px;
    background-image: url("../image/bubble-they-hold.png");
    opacity: 0.9;
    -webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    -o-transition: 2s ease;
    -ms-transition: 2s ease;
    transition: 2s ease;
}

.B-they-hold-text {
    position: relative;
    top: 6px;
    left: 75px;
    width: 113px;
    color: black;
    font-family: unmasked_bb;
    font-size: 14pt;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
