.Page-hard-to-remember {
    width: 1280px;
    height: 4330px;
}

.Page-hard-to-remember-hovered {
    width: 1280px;
    height: 4772px;
}

.hover-area-01 {
    position: absolute;
    top: 43px;
    left: 42px;
    width: 372px;
    height: 1875px;
}

.hover-area-02 {
    position: absolute;
    top: 741px;
    left: 423px;
    width: 730px;
    height: 565px;
}

.hover-area-03 {
    position: absolute;
    top: 3628px;
    left: 58px;
    width: 1163px;
    height: 444px;
}

.lamp-01 {
    position: absolute;
    top: -43px;
    left: 0;
    width: 250px;
    height: 610px;
    background-image: url("../image/lamp-01-02.jpg");

    -webkit-transition: 3s ease-in-out;
    -moz-transition: 3s ease-in-out;
    -o-transition: 3s ease-in-out;
    -ms-transition: 3s ease-in-out;
    transition: 3s ease-in-out;
}

.lamp-01:hover {
    top: 0px;
    left: -13px;
}

.lamp-01-mask {
    position: absolute;
    top: 170px;
    left: 426px;
    width: 236px;
    height: 565px;
    overflow: hidden;
}

.lamp-02 {
    position: absolute;
    top: 0px;
    left: -12px;
    width: 250px;
    height: 610px;
    background-image: url("../image/lamp-02-02.jpg");

    -webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
    -ms-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
}

.lamp-02:hover {
    top: -43px;
    left: 0;
}

.lamp-02-mask {
    position: absolute;
    top: 170px;
    left: 669px;
    width: 238px;
    height: 565px;
    overflow: hidden;
}

.lamp-03 {
    position: absolute;
    top: -43px;
    left: -15px;
    width: 250px;
    height: 607px;
    background-image: url("../image/lamp-03-02.jpg");

    -webkit-transition: 3s ease-in-out;
    -moz-transition: 3s ease-in-out;
    -o-transition: 3s ease-in-out;
    -ms-transition: 3s ease-in-out;
    transition: 3s ease-in-out;
}

.lamp-03:hover {
    top: 0;
    left: 0;
}

.lamp-03-mask {
    position: absolute;
    top: 170px;
    left: 916px;
    width: 234px;
    height: 564px;
    overflow: hidden;
}

.skyscraper-01 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1362px;
    height: 950px;
    background-image: url("../image/skyscraper-03.jpg");

    animation: circle 60s infinite;
    -moz-animation: circle 60s infinite;
    -webkit-animation: circle 60s infinite;
    -o-animation: circle 60s infinite;

    -webkit-animation-timing-function: linear;
}

@keyframes circle {
    0%  {
        top: 0px;
        left: 0px;
    }
    33% {
        top: -30px;
        left: -120px;
    }
    66% {
        top: -118px;
        left: -164px;
    }
}

@-webkit-keyframes circle {
    0%  {
        top: 0px;
        left: 0px;
    }
    33% {
        top: -30px;
        left: -120px;
    }
    66% {
        top: -118px;
        left: -164px;
    }
}

.skyscraper-01-mask {
    position: absolute;
    top: 1955px;
    left: 40px;
    width: 1195px;
    height: 825px;
    overflow: hidden;
}

.window-01 {
    position: absolute;
    top: -100px;
    left: 0;
    width: 1174px;
    height: 648px;
    background-image: url("../image/window-02.jpg");
    margin-bottom: 40px;

    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    transition: 0.5s ease;
}

.window-01:hover {
    top: 0;
}

.window-01-mask {
    position: absolute;
    top: 4070px;
    left: 48px;
    width: 1164px;
    height: 200px;
    overflow: hidden;
    border: rgb(248, 248, 248) 8px solid;
    margin-bottom: 40px;

    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    transition: 0.5s ease;
}

.window-01-mask:hover {
    height: 649px;
}

.sleepy-face-01 {
    position: absolute;
    top: 2851px;
    left: 82px;
    width: 485px;
    height: 502px;
    background-image: url("../image/sleepy-face-02.jpg");
    border: #d3d3d3 5px solid;
    opacity: 0.3;

    -webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    -o-transition: 2s ease;
    -ms-transition: 2s ease;
    transition: 2s ease;
}

.sleepy-face-01:hover {
    opacity: 1;
}
