.page-thinking-back {
    width: 1280px;
    height: 4642px;
}

.car {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 1200px;
    height: 757px;
    background-image: url("../image/car-02.jpg");
}

.bar {
    position: absolute;
    top: 825px;
    left: 40px;
    width: 1200px;
    height: 90px;
    background-image: url("../image/bar-01-01.jpg");
}

.fingers {
    position: absolute;
    top: 925px;
    width: 1280px;
    height: 439px;
}

.finger-01 {
    position: absolute;
    left: 40px;
    width: 265px;
    height: 439px;
    background-image: url("../image/finger-01-01.jpg");
    opacity: 0;
    -webkit-animation: blinking 5s infinite alternate;
    -moz-animation: blinking 5s infinite alternate;
    -o-animation: blinking 5s infinite alternate;
    -ms-animation: blinking 5s infinite alternate;
    animation: blinking 5s infinite alternate;
}

@-webkit-keyframes blinking {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.finger-02 {
    position: absolute;
    left: 318px;
    width: 263px;
    height: 439px;
    background-image: url("../image/finger-02-01.jpg");
    opacity: 0;
    -webkit-animation: blinking 6s 1s infinite alternate;
    -moz-animation: blinking 6s 1s infinite alternate;
    -o-animation: blinking 6s 1s infinite alternate;
    -ms-animation: blinking 6s 1s infinite alternate;
    animation: blinking 6s 1s infinite alternate;
}

.finger-03 {
    position: absolute;
    left: 593px;
    width: 317px;
    height: 439px;
    background-image: url("../image/finger-03-01.jpg");
    opacity: 0;
    -webkit-animation: blinking 5s 1.8s infinite alternate;
    -moz-animation: blinking 5s 1.8s infinite alternate;
    -o-animation: blinking 5s 1.8s infinite alternate;
    -ms-animation: blinking 5s 1.8s infinite alternate;
    animation: blinking 5s 1.8s infinite alternate;
}

.finger-04 {
    position: absolute;
    left: 922px;
    width: 318px;
    height: 439px;
    background-image: url("../image/finger-04-01.jpg");
    opacity: 0;
    -webkit-animation: blinking 4s 1.2s infinite alternate;
    -moz-animation: blinking 4s 1.2s infinite alternate;
    -o-animation: blinking 4s 1.2s infinite alternate;
    -ms-animation: blinking 4s 1.2s infinite alternate;
    animation: blinking 4s 1.2s infinite alternate;
}

.fingerprint {
    position: absolute;
    top: 1397px;
    left: 40px;
    width: 1200px;
    height: 1348px;
    background-image: url("../image/fingerprint-01.jpg");
    overflow: hidden;
}

.fingerprint-blur {
    position: relative;
    width: 1200px;
    height: 1348px;
    background-image: url("../image/fingerprint-01.jpg");
    opacity: 0.3;
    -webkit-animation: jumping 15s infinite alternate;
    -moz-animation: jumping 15s infinite alternate;
    -o-animation: jumping 15s infinite alternate;
    -ms-animation: jumping 15s infinite alternate;
    animation: jumping 15s infinite alternate;
}

@-webkit-keyframes jumping {
    0% {
        top: 0;
        left: 0;
    }
    20% {
        top: 0;
        left: 0;
    }
    30% {
        left: 20px;
    }
    45% {
        top: 40px;
        left: 20px;
    }
    50% {
        top: 0;
    }
    70% {
        top: 30px;
        left: -50px;
    }
}

.thinking-01-mask {
    position: absolute;
    top: 2828px;
    left: 40px;
    width: 1200px;
    height: 418px;
    overflow: hidden;
}

.thinking-01 {
    position: relative;
    width: 1200px;
    height: 418px;
    background-image: url("../image/thinking-01-black-01.jpg");
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    -ms-transition: 1s ease-out;
    transition: 1s ease-out;
}

.thinking-01:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.thinking-01-inner {
    position: relative;
    width: 1200px;
    height: 418px;
    background-image: url("../image/thinking-01-01.jpg");
    opacity: 0;
    -webkit-transition: 1.5s ease-out;
    -moz-transition: 1.5s ease-out;
    -o-transition: 1.5s ease-out;
    -ms-transition: 1.5s ease-out;
    transition: 1.5s ease-out;
}

.thinking-01-inner:hover {
    opacity: 1;
}

.thinking-02-mask {
    position: absolute;
    top: 3267px;
    left: 40px;
    width: 1200px;
    height: 456px;
    overflow: hidden;
}

.thinking-02 {
    position: relative;
    width: 1200px;
    height: 456px;
    background-image: url("../image/thinking-02-black-01.jpg");
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    -ms-transition: 1s ease-out;
    transition: 1s ease-out;
}

.thinking-02:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.thinking-02-inner {
    position: relative;
    width: 1200px;
    height: 456px;
    background-image: url("../image/thinking-02-01.jpg");
    opacity: 0;
    -webkit-transition: 1.5s ease-out;
    -moz-transition: 1.5s ease-out;
    -o-transition: 1.5s ease-out;
    -ms-transition: 1.5s ease-out;
    transition: 1.5s ease-out;
}

.thinking-02-inner:hover {
    opacity: 1;
}

.thinking-03-mask {
    position: absolute;
    top: 3746px;
    left: 40px;
    width: 1200px;
    height: 392px;
    overflow: hidden;
}

.thinking-03 {
    position: relative;
    width: 1200px;
    height: 392px;
    background-image: url("../image/thinking-03-black-01.jpg");
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    -ms-transition: 1s ease-out;
    transition: 1s ease-out;
}

.thinking-03:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.thinking-03-inner {
    position: relative;
    width: 1200px;
    height: 392px;
    background-image: url("../image/thinking-03-01.jpg");
    opacity: 0;
    -webkit-transition: 1.5s ease-out;
    -moz-transition: 1.5s ease-out;
    -o-transition: 1.5s ease-out;
    -ms-transition: 1.5s ease-out;
    transition: 1.5s ease-out;
}

.thinking-03-inner:hover {
    opacity: 1;
}

.wakeup {
    position: absolute;
    top: 4170px;
    left: 40px;
    width: 1200px;
    height: 432px;
    background-image: url("../image/wakeup-01.jpg");
}
