.push {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url("../image/push-01.jpg");
    opacity: 0;
}

.hovered {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url("../image/push-01.jpg");
    opacity: 100;
    -webkit-transition: 2s ease;
}


.push:hover {
    opacity: 100;
}

.push2 {
    position: absolute;
    top: 100px;
    width: 100px;
    height: 100px;
    background-image: url("../image/push-01.jpg");
}
