.page-who-am-i {
    width: 1280px;
    height: 2871px;
}

.who-am-i {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 1200px;
    height: 874px;
    background-image: url("../image/who-am-i-01.jpg");
}

.staring {
    position: absolute;
    top: 957px;
    left: 40px;
    width: 1200px;
    height: 709px;
    background-image: url("../image/staring-01.jpg");
}

.staring:hover {
    background-image: url("../image/staring-dark-01.jpg");
}

.leads-back {
    position: absolute;
    top: 1614px;
    left: 40px;
    width: 1200px;
    height: 565px;
    background-image: url("../image/leads-back-01.png");
    z-index: 2;
}

.turn {
    position: absolute;
    top: 2116px;
    left: 40px;
    width: 1200px;
    height: 715px;
    background-image: url("../image/turn-01.jpg");
}
