
.canvas-size {
    padding: 0 0 0 0;
}

.billboard-size {
    min-width: 14em;
    margin: 0 0 0 0;
    height: 21em;
    padding: 0.5em 1.5em 1em 1.5em;
}

.billboard-image {
    background-image: url("../image/splash-small-03.jpg");
    background-position: 0% 50%;
}

.billboard-container {
    padding: 0 0 0 0;
}

.horizontal-line-top {
    display: none;
}

.indicator-verysmall { display: block; }
