.B-i-wish {
    position: absolute;
    top: 855px;
    left: 106px;
    width: 95px;
    height: 65px;

    background-color: inherit;

    border: black solid 2px;
    vertical-align: middle;
}

.B-i-wish-padded {
    padding: 3px 5px 0 5px;
}

.B-goddamn-hard {
    position: absolute;
    top: 1086px;
    left: 121px;
    width: 178px;
    height: 98px;

    border: black solid 2px;

    background-color: inherit;
}

.B-feeding-me {
    position: absolute;
    top: 1464px;
    left: 81px;
    width: 200px;
    height: 198px;

    border: black solid 2px;

    background-color: inherit;
}

.B-changed {
    position: absolute;
    top: 1692px;
    left: 114px;
    width: 218px;
    height: 165px;

    background-color: inherit;

    border: black solid 2px;
}

.B-remember {
    position: absolute;
    top: 196px;
    left: 699px;
    width: 182px;
    height: 72px;

    background-color: inherit;

    border: black solid 2px;
}

.B-every-night {
    position: absolute;
    top: 2076px;
    left: 102px;
    width: 254px;
    height: 115px;

    background-color: inherit;

    border: black solid 2px;
}

.B-barely-sleep {
    position: absolute;
    top: 2261px;
    left: 212px;
    width: 267px;
    height: 106px;

    background-color: inherit;

    border: black solid 2px;
}

.B-like-others {
    position: absolute;
    top: 2634px;
    left: 996px;
    width: 173px;
    height: 23px;

    background-color: inherit;

    border: black solid 2px;
}

.B-burning-hole {
    position: absolute;
    top: 785px;
    left: 458px;
    width: 174px;
    height: 125px;

    background-color: inherit;

    border: black solid 2px;
}

.B-stops {
    position: absolute;
    top: 1084px;
    left: 727px;
    width: 127px;
    height: 147px;

    background-color: inherit;

    border: black solid 2px;
}

.B-oh-man {
    position: absolute;
    top: 3154px;
    left: 960px;
    width: 69px;
    height: 42px;

    color: black;
}

.B-not-again {
    position: absolute;
    top: 3247px;
    left: 1030px;
    width: 69px;
    height: 42px;

    color: black;
}
