
body {
     background-color: #151515;
}

.defaultstuff {
    visibility: visible;
    opacity: 1;
}

.topFrame {
    width: 500px;
    height: 96px;
    background-image: url("../image/windmill-red.jpg");
    opacity: 0;

    -webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    -o-transition: 2s ease;
    -ms-transition: 2s ease;
    transition: 2s ease;
}

.topFrame:hover {
    opacity: 1;
}

.topFrameBg {
    background-image: url("../image/windmill-grey.jpg");
    width: 500px;
    height: 96px;
}

.masking {
    -webkit-mask-box-image: url("../image/mask-3.png");
}

.masking:hover {
    -webkit-mask-box-image: url("../image/mask-3.png");
    -webkit-transform:rotate(12deg);
    -moz-transform:rotate(12deg);
    -o-transform:rotate(12deg);
    -ms-transform:rotate(12deg);
    transform:rotate(12deg)
}

.moving {
    width: 400px;
    height: 96px;
    background-image: url("../image/mask-400x96.png");
}

.moving:hover {
    -webkit-transform:rotate(12deg);
    -moz-transform:rotate(12deg);
    -o-transform:rotate(12deg);
    -ms-transform:rotate(12deg);
    transform:rotate(12deg)
}

.outer {
    width: 400px;
    height: 100px;
    background-color: #AAA4FF;
    overflow: hidden;

    border-color: #e5e5e5;
    border-width: 5px;
    border-style: solid;

    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    transition: 0.5s ease;
}

.outer:hover {
    width: 500px;
    height: 400px;
}

.inner {
    width: 500px;
    height: 500px;
    background-image: url("../image/windmill-full.jpg");
}
