<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hunor Kovács's Personal Website</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="css/cover.css" rel="stylesheet">
</head>
<body>

<div class="centering-outer">
  <div class="centering-middle">
    <div class="centering-inner">
      <div class="greeting">
        <p>ようこそ</p>
        <!--お久しぶりですね-->
      </div>
      <div class="main">
        <h1><span class="dotted-longer">Hunor Kovács</span></h1>

        <p class="lead"><span class="dotted">age 25,</span> <span class="dotted">working with software,</span> <span class="dotted">love skiing,</span> <span class="dotted">travelling,</span> <span class="dotted">concerts,</span> <span class="dotted">born in Romania.</span></p>

        <p class="lead"><a href="#" class="btn btn-default">Who Am I Comics &raquo;</a></p>
      </div>
      <div class="footer">
        <p>fasza</p>
      </div>
    </div>
  </div>
</div>

<script src="jquery/jquery-2.1.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="backstretch/jquery.backstretch.min.js"></script>
<script src="js/home2.js"></script>

</body>
</html>
