<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hunor Kovács's Personal Website</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="css/cover.css" rel="stylesheet">
</head>
<body>

<div class="centering-outer">
  <div class="centering-inner">
    <h1>Hunor Kovács</h1>

    <p class="lead">age 25, working with software, love skiing, travelling, concerts, born in Romania.</p>

    <p class="lead"><a href="#" class="btn btn-default">Who Am I Comics &raquo;</a></p>

  </div>
</div>

<script src="jquery/jquery-2.1.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="backstretch/jquery.backstretch.min.js"></script>
<script src="js/home2.js"></script>

</body>
</html>
