<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cover Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/cover.css" rel="stylesheet">

</head>

<body>

    <h1>Hunor Kovács</h1>
    <p class="lead">age 25, working with software, love skiing, travelling, concerts, born in Romania.</p>
    <p class="lead"><a href="#" class="btn btn-default">Who Am I Comics &raquo;</a></p>

<script src="jquery/jquery-2.1.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="backstretch/jquery.backstretch.min.js"></script>
<script src="js/home2.js"></script>

</body>
</html>
