<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hunor Kovács's Personal Website</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

  <link href="css/cover.css" rel="stylesheet">
</head>
<body>

<div class="centering-outer">
  <div class="centering-middle">
    <div class="centering-inner">
      <div class="main">
        <h1 id="fullname">Hunor Kovács</h1>
        <p class="lead"><span class="dotted">age 25,</span> <span class="dotted">working with software,</span> <span class="dotted">love skiing,</span> <span class="dotted">travelling,</span> <span class="dotted">concerts,</span> <span class="dotted">born in Romania.</span></p>
        <p><a href="resume" class="btn btn-default fixed-size">Read my résumé &raquo;</a></p>
        <p><a href="Who-Am-I-comics/1-hard-to-remember.html" class="btn btn-default fixed-size">Who Am I Comics &raquo;</a></p>
      </div>
      <div class="footer">
          <a class="vala hand"><i class="fa fa-at" onclick="toggleEmail()"></i></a><a href="https://www.facebook.com/kovacshuni" target="_blank" class="vala"><i class="fa fa-facebook-square"></i></a><a href="https://www.facebook.com/kovacshuni" target="_blank" class="vala"><i class="fa fa-twitter"></i></a><a href="https://github.com/kovacshuni" target="_blank" class="vala"><i class="fa fa-github"></i></a><a href="https://www.youtube.com/user/kovacshuni" target="_blank" class="vala"><i class="fa fa-youtube-play"></i></a><a href="https://www.linkedin.com/in/kovacshuni" target="_blank" class="vala"><i class="fa fa-linkedin-square"></i></a>
      </div>
    </div>
  </div>
</div>

<script src="jquery/jquery-2.1.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="backstretch/jquery.backstretch.min.js"></script>
<script src="js/home2.js"></script>

</body>
</html>
