<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hunor Kovács - Résumé</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" media="screen" />

    <link rel="stylesheet" href="css/resume.css"/>

    <link rel="image_src" href="http://www.hunorkovacs.com/image/screenshot-02-640.jpg"/>
    <meta property="og:title" content="Hunor Kovács's Personal Website" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.hunorkovacs.com"/>
    <meta property="og:image" content="http://www.hunorkovacs.com/image/screenshot-02-640.jpg"/>
    <meta property="og:image:type" content="image/jpeg"/>
    <meta property="og:image:width" content="640"/>
    <meta property="og:image:height" content="340"/>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Résumé</h1>
    </div>
    <div class="row">
        <div class="col-md-10">
            <h1>Hunor Kovács</h1>
            <h3>Software Engineer at IQuest and Financial Times</h3>
            <div class="col-md-5">
                <p><strong>email: </strong>kovacshuni@yahoo.com</p>
                <p><strong>phone: </strong>+4(0)740 834 527</p>
                <p><strong>website: </strong><a href="http://www.hunorkovacs.com">www.hunorkovacs.com</a></p>
            </div>
            <div class="col-md-7">
                <p><strong>date of birth: </strong>February 18, 1989</p>
                <p><b>current location: </b>Cluj-Napoca, Romania</p>
                <p><b>GitHub profile: </b><a href="https://github.com/kovacshuni">github.com/kovacshuni</a></p>
            </div>
        </div>
        <div class="col-md-2">
            <img src="image/id-02-600x800.jpg" alt="portrait picture of me"
                 class="img-rounded portrait pull-right"
                 data-src="holder.js/200%x180">
        </div>
    </div>

    <h4 class="page-header">What I am looking for:</h4>
    <p>A position in software development, <b>Java and Scala programming.</b></p>
    <p>A challenging and interesting project for an international product used by a wide audience,
        oriented around a web application, integrating the latest technologies, maybe a promising startup.</p>
    <p>A clean working environment with energetic, friendly colleagues, where people are free to share their
        opinion and express their imagination, a very modern, <b>open-minded culture.</b></p>

    <h4 class="page-header">Related Working Experience:</h4>
    <p class="pull-right small">2011 – present<p>
    <p>Software Engineer for the Financial Times, London, UK |
        <a href="http://www.ft.com" target="_blank">www.ft.com</a></p>
    <p>Outsourcing from IQuestgroup, Cluj-Napoca, Romania |
        <a href="http://www.iquestgroup.com" target="_blank" >www.iquestgroup.com</a></p>

    <h4 class="page-header">Related Skills:</h4>
    <p><b>2+ years experience</b> with large scale web applications, media-specific business domain, content API,
        search and metadata platforms and Agile development methodology. Worked in mixed offsite-onsite teams.</p>
    <p>Excellent coding skills in Java, promising in Scala, extensive knowledge of UNIX/Linux,
        experience with scripting in Ruby.</p>
    <p><b>Git specialist/teacher.</b></p>
    <p>A solid foundation in computer science, with strong competencies in data structures, algorithms,
        and software design.</p>
    <p>web frameworks, application servers, SQL and NoSQL databases, content delivery networks,
        content management systems, performance enhancements, automated tests</p>
    <p class="text-right small"><a href="technical">more on related skills &raquo;</a></p>

    <h4 class="page-header">Education:</h4>
    <p class="pull-right small">2007-2011</p>
    <p><b>BS in Computer Science</b> and Automation at the Technical University of Cluj-Napoca</p>
    <p class="pull-right small">2010-2011</p>
    <p>Informatics Enginnering at University Carlos III of Madrid</p>

    <h4 class="page-header">Languages:</h4>
    <dl class="dl-horizontal">
        <dt>Hungarian</dt>
        <dd>native speaker</dd>
        <dt>English, Romanian</dt>
        <dd>level C2, fluent</dd>
        <dt>Spanish</dt>
        <dd>level B2</dd>
        <dt>German</dt>
        <dd>level A1</dd>
    </dl>

    <h4 class="page-header">Personal interests and other:</h4>
    <p>sports, travelling, filmmaking and live concerts</p>
    <p>double citizenship: Hungarian & Romanian</p>

    <div class="footer-line"></div>
</div>
<script src="lib/jquery-2.1.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
