<!DOCTYPE html>
<html lang="en">
<head>
    <title>Resume of Hunor Kovacs</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="bootstrap/css/bootstrap.css" media="screen" />

    <link rel="stylesheet" href="css/resume.css"/>
    <link rel="stylesheet" href="css/technical.css"/>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Technical skills</h1>
        </div>
        <p>2+ years of proffesional experience in <b>Java</b> programming of web applications.</p>
        <p>1 year experience in <b>Scala</b> from online courses and smaller projects</p>
        <p>Knowledge of Ruby</p>
        <p>Hibernate, Spring, Aspect Oriented Programming</p>
        <p>Web Frameworks: SpringMVC, Play, Scalatra, Spray, Rails, Sinatra</p>
        <p>Apache Tomcat, Jetty, JBoss application servers</p>
        <p>MySQL, PostgreSQL, MongoDB</p>
        <p>Maven, sbt</p>
        <p>Experience with Content Management Systems</p>
        <p>JUnit, Mockito, TestNG, WebDriver 2, Thucydides, ScalaTest</p>
        <p>content delivery networks: Akamai, JetNexus</p>
        <p>Git (<b>specialist and teacher</b>), SVN</p>
        <p>templating languages: Velocity, Scala Templating Language</p>
        <p>YourKit, JProfiler profilers</p>

        <div class="delimiter-line"></div>

        <p>continuous integration, multiple environments</p>
        <p>test driven development, pair programming, code review with Crucible and Gerrit</p>
        <p>Agile development methodology: Scrum, Kanban board, estimations, sprint demos,
            sprint retrospectives and follow-ups</p>
        <p>performance testing, load testing</p>
        <div class="footer-line"></div>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
