<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hunor Kovács - Software related technical skills</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" media="screen" />

    <link rel="stylesheet" href="css/resume.css"/>
    <link rel="stylesheet" href="css/technical.css"/>

    <link rel="image_src" href="http://www.hunorkovacs.com/image/screenshot-02-640.jpg"/>
    <meta property="og:title" content="Hunor Kovács's Personal Website" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.hunorkovacs.com"/>
    <meta property="og:image" content="http://www.hunorkovacs.com/image/screenshot-02-640.jpg"/>
    <meta property="og:image:type" content="image/jpeg"/>
    <meta property="og:image:width" content="640"/>
    <meta property="og:image:height" content="340"/>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Technical skills</h1>
        </div>

        <p>2+ years of proffesional experience in <b>Java</b> programming. Main focus on web applications.</p>
        <p>Good knowledge of <b>Scala</b> from online courses and small projects.</p>
        <p><b>Git specialist</b> and teacher.</p>
        <p>Worked in media specific domain, content API, search and metadata platforms,
            experience with Content Management Systems</p>
        <p>Excellent UNIX/Linux knowledge. Scripting in Ruby.</p>
        <p>Supported core platform, search, metadata and contentAPI.</p>
        <p>Done continuous integration, multiple environments, test driven development, pair programming,
            pull requests and code reviews with Stash, Crucible and Gerrit, performance testing, load testing.</p>
        <p>Followed Agile development methodology: Scrum, Kanban board, daily standups, estimations, sprint demos,
            sprint retrospectives, follow-ups and forthnightly releases.</p>
        <div class="delimiter-line"></div>
        <p>Attended both renown online Scala coruses on coursera.org</p>
        <ul>
            <li>Principles of Reactive Programming by Martin Odersky, Erik Meijer and Roland Khun - 2012</li>
            <li>Functional Programming Principles in Scala directed by Martin Odersky - 2013</li>
        </ul>
        <div class="delimiter-line"></div>
        <p><i><b>Keywords: </b>HTML 5, CSS 3, JavaScript, SpringMVC, Play, Akka middleware, Scalatra,
            Spray, Ruby on Rails, Python and Django, node.js, Maven, sbt, Sinatra, Hibernate, Spring, Apache Tomcat,
            Jetty, JBoss, JUnit, Mockito, TestNG, WebDriver 2, Thucydides, ScalaCheck, AWS, Ansible, Vagrant, MySQL,
            PostgreSQL, MongoDB, EhCache, Linux Bash, Apigee, JetNexus, Akamai, UML, IntelliJ IDEA.</i></p>
        <p class="text-right small"><a href="resume">back to the Résumé &raquo;</a></p>
        <div class="delimiter-line"></div>
    </div>
    <script src="js/jquery-2.0.3.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
