<!DOCTYPE html>
<html lang="en">
<head>
    <title>Resume of Hunor Kovacs</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="bootstrap/css/bootstrap.css" media="screen" />

    <link rel="stylesheet" href="css/resume.css"/>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Technical skills</h1>
        </div>
        <p>2+ years of proffesional experience in <b>Java</b> programming of web applications.</p>
        <p>1 year experience in <b>Scala</b> from online courses and smaller projects</p>
        <p>Knowledge of Ruby</p>
        <p></p>
        <dl class="dl-horizontal">
            <dt>Web Frameworks:</dt>
            <dd>SpringMVC, Play, Scalatra, Spray, Rails, Sinatra</dd>
            <dt>Other frameworks:</dt>
            <dd>Hibernate, Spring</dd>
            <dt>Application servers:</dt>
            <dd>Apache Tomcat, Jetty, JBoss</dd>
            <dt>Databases:</dt>
            <dd><b>MySQL</b>, PostgreSQL, MongoDB</dd>
            <dt>Build tools:</dt>
            <dd>Maven, sbt</dd>
            <dt>Testing:</dt>
            <dd>JUnit, Mockito, TestNG, WebDriver 2, Thucydides, ScalaTest</dd>
            <dt>SCMs:</dt>
            <dd>Git (<b>specialist and teacher</b>), SVN</dd>
            <dt>CDNs:</dt>
            <dd>Akamai, JetNexus</dd>
            <dt>Profilers:<dt>
            <dd>YourKit, JProfiler</dd>
        </dl>
        <p>Experience with Content Management Systems</p>
        <p>Fair knowledge of HTML 5, CSS 3, JavaScript, Linux bash</p>
        <div class="delimiter-line"></div>
        <h3>Methods used:</h3>
        <p>Agile development methodology: Scrum, Kanban board, estimations, sprint demos,
            sprint retrospectives and follow-ups</p>
        <p>continuous integration, multiple environments</p>
        <p>test driven development, pair programming, code review with Crucible and Gerrit</p>
        <p>performance testing, load testing</p>
        <div class="footer-line"></div>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
