<!DOCTYPE html>
<html lang="en">
<head>
    <title>Resume of Hunor Kovacs</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="../../../public/font-awesome/css/font-awesome.min.css"/>

	<!--<link rel="stylesheet" href="css/bootstrap-responsive.css" >-->
	<link rel="stylesheet" href="css/bootstrap.css" media="screen" />

    <link rel="stylesheet" href="../../../public/css/resume.css"/>
</head>
<body style="margin: 0;">
    <video width="100%" autoplay>
        <source src="https://dl.dropboxusercontent.com/u/12397651/fun.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
