
.page-wrapper {
    width: 1280px;
    position: relative;
    margin: 32px auto 16px auto;
}

.policies-shadow {
    width: 700px;

    border: 3px solid rgba(0, 0, 0, 0.5);
}

.page-policies {
    width: 620px;
    padding: 20px 40px 20px 40px;
    font-family: wurmics_bravado;
    font-size: 11pt;
    text-shadow: 0 0 0;
    text-align: left;
    color: #1c2f2a;
    background-color: #dddddd;
}

p a {
    color: #1c2f2a;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}