.page-tomorrow {
    width: 1280px;
    height: 3251px;
}

.standing {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 1200px;
    height: 1269px;
    background-image: url("../image/standing-01.jpg");
}

.browsing-01 {
    position: absolute;
    top: 53px;
    left: 108px;
    width: 370px;
    height: 460px;
    background-image: url("../image/browsing-01-grey-01.jpg");
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    -ms-transition: 1s ease;
    transition: 1s ease;
}

.browsing-01:hover {
    opacity: 0;
}

.browsing-02 {
    position: absolute;
    top: 53px;
    left: 488px;
    width: 358px;
    height: 461px;
    background-image: url("../image/browsing-02-grey.jpg");
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    -ms-transition: 1s ease;
    transition: 1s ease;
}

.browsing-02:hover {
    opacity: 0;
}

.browsing-03 {
    position: absolute;
    top: 55px;
    left: 856px;
    width: 338px;
    height: 459px;
    background-image: url("../image/browsing-03-grey-01.jpg");
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    -ms-transition: 1s ease;
    transition: 1s ease;
}

.browsing-03:hover {
    opacity: 0;
}

.browsing-04 {
    position: absolute;
    top: 544px;
    left: 53px;
    width: 351px;
    height: 555px;
    background-image: url("../image/browsing-04-grey-01.jpg");
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    -ms-transition: 1s ease;
    transition: 1s ease;
}

.browsing-04:hover {
    opacity: 0;
}

.eyes {
    position: absolute;
    top: 1325px;
    left: 40px;
    width: 1200px;
    height: 842px;
    background-image: url("../image/eyes-01.jpg");
}

.walk-out-frame {
    position: absolute;
    top: 2167px;
    left: 40px;
    width: 1200px;
    height: 539px;
    background-image: url("../image/walk-out-mask-01.png");
}

.walk-out-mask {
    position: relative;
    top: 4px;
    left: 11px;
    width: 1176px;
    height: 530px;
    overflow: hidden;
}

.walk-out {
    position: relative;
    top: -71px;
    left: -148px;
    width: 1348px;
    height: 604px;
    background-image: url("../image/walk-out-01.jpg");
    -webkit-transition: 5s ease-out;
    -moz-transition: 5s ease-out;
    -o-transition: 5s ease-out;
    -ms-transition: 5s ease-out;
    transition: 5s ease-out;
}

.walk-out:hover {
    left: 0;
}

.new-beginning-frame {
    position: absolute;
    top: 2706px;
    left: 40px;
    width: 1200px;
    height: 505px;
    background-image: url("../image/new-beginning-mask-01.png");
}

.new-beginning-mask {
    position: relative;
    top: 5px;
    left: 10px;
    width: 1179px;
    height: 487px;
    overflow: hidden;
}

.new-beginning {
    position: relative;
    top: -113px;
    left: -10px;
    width: 1192px;
    height: 600px;
    background-image: url("../image/new-beginning-01.jpg");
    -webkit-transition: 15s ease-out;
    -moz-transition: 15s ease-out;
    -o-transition: 15s ease-out;
    -ms-transition: 15s ease-out;
    transition: 15s ease-out;

}

.new-beginning:hover {
    top: 0;
}
